.detail-image-wrapper {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 47.76%, #FFFFFF 64.5%), url('../../../data/Country/America.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.detail-box {
    position: absolute;
    width: 30rem;
    height: 10.5rem;
    left:20%;
    top: 24%;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(25px);
}

.detail-box h1{
    padding: 3.5rem 1.875rem;
}

.top-left {
    position: absolute;
    width: 14px;
    height: 14px;
    border-left : solid 2px #5D5D5D;
    border-top : solid 2px #5D5D5D;
    border-color: #5D5D5D;
    top : 15px;
    left : 15px
}

.top-right {
    position: absolute;
    width: 14px;
    height: 14px;
    border-right : solid 2px #5D5D5D;
    border-top : solid 2px #5D5D5D;
    border-color: #5D5D5D;
    top : 15px;
    right : 15px
}
.bottom-left {
    position: absolute;
    width: 14px;
    height: 14px;
    border-left : solid 2px #5D5D5D;
    border-bottom : solid 2px #5D5D5D;
    border-color: #5D5D5D;
    bottom : 15px;
    left : 15px
}
.bottom-right {
    position: absolute;
    width: 14px;
    height: 14px;
    border-right : solid 2px #5D5D5D;
    border-bottom : solid 2px #5D5D5D;
    border-color: #5D5D5D;
    bottom : 15px;
    right : 15px
}

.box-wrapper {
    width: 50.78vw;
    margin: 0 auto;
}

.top-currency-wrapper {
    height: 120px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px solid #A0A0A0;
    margin-bottom: 11px;
    display: flex;
    justify-content: space-between;
}

.top-currency-wrapper .detail-left-wrapper {
    display : flex;
    align-items: center;
    padding: 20px;
}

.top-currency-wrapper .detail-img-wrapper{
    width: 8.563rem;
    height: 4.5rem;
}

.top-currency-wrapper .detail-img-wrapper img {
    width: 100%;
    height: 100%;
}

.top-currency-wrapper .detail-currency-wrapper {
    padding-left: 10px;
}

.detail-right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 20px;
}

.detail-icon-wrapper {
    font-size: 2rem;
}

.detail-upper-wrapper {
    display: flex;
}
.detail-down-wrapper p {
    text-align: right;

}


#graph {
    width: 100%;
    height: 100%;
    fill: green; 
    font: 15px sans-serif; 
    text-anchor: center; 
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }
  
  .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  
  .grid path {
    stroke-width: 0;
  }

  .overlay {
    fill: none;
    pointer-events: all;
}
  .focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
    stroke: #000;
}

.tooltip-date, .tooltip-likes {
    font-weight: bold;
}

.price-box {
    margin : 11px 0;
    height: 40px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px solid #A0A0A0;
    display: grid;
    grid-template-columns : 1fr 1fr 1fr;
    grid-template-areas: 
            "open-price high-price low-price"
    ;
}

.border-detail-pricebox {

    position: absolute;
    right: 0px;
    top : 0px;
    height: 24px;
    border-right: 2px solid #CCCCCC;
}


.detail-open {
    position : relative;
    grid-area : open-price;
    margin : auto 0;
    padding : 0px 20px;
}


.detail-high{
    position:relative;
    grid-area: high-price;
    margin : auto 0;
    padding : 0px 20px;
}
.detail-high p {
    color : #00FF00;
}

.detail-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail-low {
    grid-area: low-price;
    margin : auto 0;
    padding : 0px 20px;
}

.detail-low p {
    color : #FF0000;
;
}

.graph-box {
    margin : 11px 0px;
    height: 540px;
    border: 1px solid #A0A0A0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: grid;
    grid-template-columns : 9fr 1fr;
    grid-template-areas: 
            "linechart button"
    ;

}

.detail-graph-wrapper {
    grid-area : linechart;
}

.detail-button-wrapper {
    grid-area: button;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.detail-button{
    width: 48px;
    height: 48px;
    border: 1px solid #5D5D5D;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
