.bestbank-wrapper {
    margin: 0 auto;
}

.bestbank-img-wrapper {
    margin: 50px auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;

}

.bestbank-img-wrapper h3 {
    padding-top: 20px;

}


.bestbank-img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.bestbank-detail-wrapper {
    padding-top: 20px;
}
.bestbank-detail {
    display: flex;
    margin : 20px 0px;
    justify-content: space-between;
}