.bestbank-wrapper {
    margin: 0 auto;
}

.bestbank-img-wrapper {
    margin: 50px auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;

}



.bestbank-img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.bestbank-detail-wrapper {
    padding-top: 20px;
}
.bestbank-detail {
    display: flex;
    margin : 20px 0px;
    justify-content: space-between;
}


.bestbank-header h3{
    font-weight: 500;
font-size: 28px;
line-height: 34px;
}

.bestbank-detail h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.bestbank-detail h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}